//  颜色定义规范
//  常用颜色 白色
$color-white = #ffffff
//  常用颜色 橘色
$color-orange = #EE9D29
//  常用颜色 绿色
$color-green = #2CEAA0
//  常用颜色 蓝色
$color-blue = #61bcff

//  总宽度
//  上宽度 780px   下宽度 1220px
$width-total = 780px
//  上高度 348px  下高度  552px
$height-total = 348px
